@{
    ViewData["Title"] = "Test Page";
}

<div class="container">
    <main role="main" class="pb-3">
        <div class="container-fluid">
            <!--Beginning of Main Content-->
            <div class="row">
                <!--Beginning of Progress Bar Section -->
                <div class="col-md-2">
                    <h3 class="progress-bar-label" id="health-label">Health</h3>
                    <div class="progress" id="master-progress-bar">
                        <div class="progress-bar bg-danger" id="health-bar" style="width: 100%">
                            <span class="progress-bar-level" id="health-span">4/4</span>
                        </div>
                    </div>
                    <br>
                    <button type="button" class="btn btn-danger" id="btn-health">Damage</button>
                </div>
                <div class="col-md-2">
                    <h3 class="progress-bar-label" id="mines-label">Mines</h3>
                    <div class="progress">
                        <div class="progress-bar" id="mines-bar" style="width: 0%">
                            <span class="progress-bar-level" id="mines-span">0/3</span>
                        </div>
                    </div>
                    <br>
                    <button type="button" class="btn btn-primary" id="btn-mines">Charge</button>
                </div>
                <div class="col-md-2">
                    <h3 class="progress-bar-label" id="drones-label">Drones</h3>
                    <div class="progress">
                        <div class="progress-bar" id="drones-bar" style="width: 0%">
                            <span class="progress-bar-level" id="drones-span">0/4</span>
                        </div>
                    </div>
                    <br>
                    <button type="button" class="btn btn-primary" id="btn-drones">Charge</button>
                </div>
                <div class="col-md-2">
                    <h3 class="progress-bar-label" id="sneak-label">Sneak</h3>
                    <div class="progress">
                        <div class="progress-bar" id="sneak-bar" style="width: 0%">
                            <span class="progress-bar-level" id="sneak-span">0/6</span>
                        </div>
                    </div>
                    <br>
                    <button type="button" class="btn btn-primary" id="btn-sneak">Charge</button>
                </div>
                <div class="col-md-2">
                    <h3 class="progress-bar-label" id="torpedo-label">Torpedo</h3>
                    <div class="progress">
                        <div class="progress-bar" id="torpedo-bar" style="width: 0%">
                            <span class="progress-bar-level" id="torpedo-span">0/3</span>
                        </div>
                    </div>
                    <br>
                    <button type="button" class="btn btn-primary" id="btn-torpedo">Charge</button>
                </div>
                <div class="col-md-2">
                    <h3 class="progress-bar-label" id="sonar-label">Sonar</h3>
                    <div class="progress">
                        <div class="progress-bar" id="sonar-bar" style="width: 0%">
                            <span class="progress-bar-level" id="sonar-span">0/3</span>
                        </div>
                    </div>
                    <br>
                    <button type="button" class="btn btn-primary" id="btn-sonar">Charge</button>
                </div>
            </div>
            <hr>
            <div class="row">
                <!--Beginning of Game Board Section-->
                <div class="col-md-2">
                    <!--Beginning of Explainer Boxes-->
                    <ul class="list-group">
                        <li class="list-group-item bw">
                            <button type="button" class="btn btn-warning fill-width" id="btn-map-toggle">Your Map</button>
                        </li>
                        <li class="list-group-item bw">
                            <button type="button" class="btn btn-warning fill-width" id="btn-reset-map">Reset Map</button>
                        </li>
                        <li class="list-group-item bw">
                            <button type="button" class="btn btn-warning fill-width" id="btn-new-map">New Map</button>
                        </li>
                        <li class="list-group-item bw">Empty 4</li>
                        <li class="list-group-item bw">Empty 5</li>
                    </ul>
                </div>
                <div class="col-md-10">
                    <!--Beginning of Gameboard-->
                    <div class="gameboard"></div>   <!--Gameboard-->
                </div>
            </div>
        </div>
    </main>
</div>